doctype html
html
  head
    base(href='/')
    meta(charset='utf8')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    title SumoSurveys
    link(rel='stylesheet' href='https://fonts.googleapis.com/icon?family=Material+Icons')
    link(rel='stylesheet' href='/application.css')
  body(ng-controller='AppController as app')
    md-content
      md-toolbar(ng-cloak)
        .md-toolbar-tools.center-content
          md-button.md-icon-button(aria-label='Home' href='/')
            md-icon home
          h2(flex): a(ng-href='/') SumoSurveys
          span(flex)
          div(ng-if='app.isAuthenticated()')
            md-menu(md-position-mode='target-right target')
              md-button.md-icon-button(aria-label='Open Menu' ng-click='$mdOpenMenu()')
                md-icon menu
              md-menu-content(width='4')
                md-menu-item
                  md-button(aria-label='Survey Results' ng-click='app.go("questions.list")')
                    div(layout='row')
                      p(flex) Survey Results
                      md-icon(md-menu-align-target) assignment
                md-menu-item
                  md-button(aria-label='New Question' ng-click='app.go("questions.new")')
                    div(layout='row')
                      p(flex) New Question
                      md-icon(md-menu-align-target) add_circle
                md-menu-item
                  md-button(aria-label='Logout' ng-click='app.logout()')
                    div(layout='row')
                      p(flex) Logout
                      md-icon(md-menu-align-target) exit_to_app
                  
          div(ng-if='!app.isAuthenticated()')
            md-button.md-icon-button(aria-label='Login' ng-href='/login')
              md-icon account_circle
    md-content.md-padding.center-content(ui-view)
    
    script(src='/application.js')
